{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/nav.css' %}">
</head>

<body>
  <nav id='main' class='navbar navbar-inverse'>
    <div class="container-fluid">
      <div class="navbar-header">
        <a class='navbar-brand' href="{% url 'newsToday' %}"><img id='icon' src="../../media/articles/icon.png" alt="de icon"></a>
      </div>
      <!-- Adding a search form -->
      <div class="col-sm-4">
        <form id='search' class='navbar-right' class='navbar-form' role='search' action="{% url 'search_results' %}">
          <div class="input-group">
            <input type="text" class='form-control' placeholder="Search Article" name='article'>
            <div class="input-group-btn">
              <button id='searchButton' class='btn btn-default' type='submit'>Search</button>
            </div>
          </div>
        </form>
      </div>
      <!-- End Search form -->

      <div class="col-sm-6 col-md-6">
        {% if user.is_authenticated %}
        <ul>
          <li class='dropdown'>
            <a href="#" class='dropdown-toggle btn btn-default' data-toggle='dropdown' role='button' aria-expanded='false'>Account<span
                class='caret'></span></a>
            <ul class="dropdown-menu" role='menu'>
              <li>
                <a href="{% url 'newsToday' %}">Home</a>
              </li>
              <li>
                <a href="{%url 'new-article'%}">Create Article</a>
              </li>
              <li>
                <a href="/accounts/password/change">Change Password</a>
              </li>
              <li>
                <a href="/logout">Logout</a>
              </li>
            </ul>
          </li>
        </ul>
        {% else %}
        <li>
          <a href="/accounts/login" class="btn btn-default">Login</a>
        </li>
        {% endif %}
      </div>
    </div>
  </nav>
</body>

</html>