{% load static %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
  </head>
  <body>
    <nav id='main' class='navbar navbar-inverse'>
      <div class="container-fluid">
        <div class="navbar-header">
          <img id='icon' src="../../../media/logo.png" alt="de icon">
        </div>
        <div class="col-sm-4">
          <form action="/accounts/login/" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-sm" value="Login">
            </div>
            <input type="hidden" name="next" value="{{next}}">
          </form>
        </div>
      </div>
    </nav>
  </body>
</html>