{% load static %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
  </head>
  <body>
    <nav id='main' class='navbar navbar-inverse'>
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="{% url 'home' %}"><img id='icon' src="../../../media/logo.png" alt="de icon"></a>
        </div>
        <div id='search' class="col-sm-4">
          <form id='search' class='navbar-right' class='navbar-form' role='search' action="{% url 'search' %}">
            <div class="input-group">
              <input type="text" class='form-control' placeholder="Search User" name='user'>
              <div class="input-group-btn">
                <button id='searchButton' class='btn btn-default' type='submit'><span class="glyphicon glyphicon-search"></span></button>
              </div>
            </div>
          </form>
        </div>
        <div class='action-icons' style="position: absolute; right: 0;">
          <button type='submit' class='gicons'><a href="{% url 'new_post' %}"><span class="glyphicon glyphicon-pencil"></span></a></button>
          <button type='submit' class='gicons'><a href="{% url 'home' %}"><span class="glyphicon glyphicon-fire"></span></a></button>
          <button type='submit' class='gicons'><a href="{% url 'profile' id=request.user.id %}"><span class="glyphicon glyphicon-user"></span></a></button>
          <button type='submit' class='gicons'><a href="/logout"><span class="glyphicon glyphicon-log-out"></span></a></button>
        </div>
      </div>
    </nav>
  </body>
</html>